{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <a href="/accounts/facebook/login/"><div class="fb"></div></a>
    {% include "socialaccount/snippets/login_extra.html" %}
    <a href="/accounts/twitter/login/"><div class="tt"></div></a>
    {% include "socialaccount/snippets/login_extra.html" %}
    <a href="/accounts/instagram/login/"><div class="insta"></div></a>
    {% include "socialaccount/snippets/login_extra.html" %}
    <div class="inset">
        <div class="header">Or sign in directly</div>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
            <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
            <div class="remember-forgot-section">
                <input id="id_remember" name="remember" type="checkbox" />
                <label for="id_remember">Remember Me</label>
                <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn" type="submit">{% trans "Sign In" %}</button>
        </form>

        <div class="footnote">
            Don't have an account? Login with Facebook, Instagram, or Twitter above or <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
    </div>
{% endblock %}

